
<div class="row container-fluid" *ngIf="isShown">
  <div class="m-3">
    <h3>Zahtevi za godišnje odmore i odsustva</h3>
  </div>
  <table class="table table-striped" >
    <thead>
    <tr>
      <th scope="row">#</th>
      <th scope="row">Ime i prezime farmaceuta</th>
      <th scope="row">Tip odsustva</th>
      <th scope="row">Datum pocetka vazenja</th>
      <th scope="row">Datum kraja vazenja</th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let ab of absences" >
      <th scope="row">{{ ab.id }}</th>
      <td>{{ ab.employeeName}}</td>
      <td>{{ ab.typeOfAbsence}}</td>
      <td>{{ ab.startDate | date}}</td>
      <td>{{ ab.endDate | date}}</td>
      <td>
        <button class="btn btn-primary" (click)="solveAbsence(ab)">Detalji</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>


<div *ngIf="!isShown">
  <p> Zaposleni : {{absence.employeeName}} </p>
  <p> Tip zahteva: {{absence.typeOfAbsence}}</p>
  <p> Zahtev :{{absence.requestText}}</p>
  <p> Pocetak: {{absence.startDate | date}}</p>
  <p> Kraj: {{absence.endDate | date}}</p>

  <div>
    <button class="btn btn-primary" (click)="accept()" >Prihvati</button>
    <button class="btn btn-primary" (click)="decline()" >Odbij</button>
  </div>

  <div *ngIf="isDeclined">


    <label>Unesite razlog odbijanja :</label>
    <input
      type="text"
      class="form-control"
      name="title"
      id = "answer"
      required
    />
    <button class="btn btn-primary" (click)="confDecline()" >Potvrdi odbijanje</button>

  </div>

</div>
