<div style="text-align: center;"><h2>Detalji apoteke</h2> </div>

<div>
  Naziv apoteke: <b>{{pharmacy?.name}}</b>  <br>
  Prosecna ocena apoteke: <b> {{pharmacy?.evaluationGrade}} </b>
  <br>
  Adresa apoteke: <b> {{pharmacy?.address}} </b>
  <button class="btn btn-primary" (click)="showMap=!showMap">Pokazi na mapi</button>
  <div *ngIf="showMap">
    <app-map [adresa]="adresa" > </app-map>
  </div>




  <div *ngIf="isLoggedIn">
    <button class="btn btn-primary">Rezervisi lek</button>

    <br>    <button class="btn btn-primary" (click)="checkEPerscription()">Dostupnost leka (E-Recept)</button>
    <br>
    <button class="btn btn-primary">Zakazi savetovanje kod farmaceuta</button>
    <button class="btn btn-primary">Zakazi pregled kod dermatologa</button>
    <button class="btn btn-primary" (click)="subscribeToPromotions()">Pretplati se na akcije/promocije</button>
  </div>

</div>
