<header>
  <nav class="navbar navbar-ligh navbar-expand-md" style="background-color: #e3f2fd;">
    <div><a  class="navbar-brand">
      Najjaci sistem apoteka</a></div>

    <ul class="navbar-nav">
      <li><a  class="nav-link">Apoteke</a></li>
      <li><a class="nav-link">Lekovi</a></li>
<!--      <li><a class="nav-link">Rezervacija</a></li>-->
<!--      <li><a class="nav-link">Profil</a></li>-->
<!--      <li><a class="nav-link">Narudzbenica</a></li>-->
<!--      <li><a class="nav-link">Profil</a></li>-->
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li><a class="nav-link">Prijava</a></li>
      <li><a class="nav-link">Registracija</a></li>
    </ul>
  </nav>
</header>
