<header>
  <nav class="navbar navbar-ligh navbar-expand-md" style="background-color: #e3f2fd;">
    <div>
      <a class="navbar-brand">Najjaci sistem apoteka</a>
    </div>
    <ul class="navbar-nav">
      <li><a class="nav-link" routerLink="pharmacies">Apoteke</a></li>
      <li><a class="nav-link">Lekovi</a></li>
      <!--      <li><a class="nav-link">Rezervacija</a></li>-->
      <!--      <li><a class="nav-link">Profil</a></li>-->
      <!--      <li><a class="nav-link">Narudzbenica</a></li>-->
      <!--      <li><a class="nav-link">Profil</a></li>-->
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end" *ngIf="!isLoggedIn">
      <li><a class="nav-link" routerLink="login">Prijava</a></li>
      <li><a class="nav-link" routerLink="register">Registracija</a></li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-link">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-link">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
</header>
