<table class="table table-striped">
  <thead>
  <tr>
    <th scope="row" >#</th>
    <th scope="row" >Ime dermatologa</th>
    <th scope="row" >Prezime dermatologa</th>
    <th scope="row"  >Ocena dermatologa</th>
    <th scope="row"  >Cena pregleda</th>
    <th scope="row" >Datum pregleda</th>
    <th scope="row" >Vreme pregleda</th>



  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let examination of examinations " >
    <th ></th>
    <th >{{ examination.dermatologistName }}</th>
    <th >{{ examination.dermatologistLastname }}</th>
    <th >{{ examination.dermatologistEvaluationGrade }}</th>
    <th >{{ examination.price }}</th>
    <th >{{ change(examination.date)}}</th>
    <th >{{ examination.time }}</th>
    <th ><button class="Otkazi" (click)="cancelAppointment(examination)">Otkazi</button></th>



  </tr>
  </tbody>
</table>
