<div style="text-align: center;"><h2>Profil apoteke</h2> </div>

<div>
  Naziv apoteke: <b>{{pharmacy?.name}}</b>
  <br>
  Adresa apoteke: <b> {{pharmacy?.address}}, {{pharmacy?.city}} </b>
  <button class="btn btn-primary" (click)="showMap=!showMap">Pokazi na mapi</button>
  <div *ngIf="showMap">
    <app-map [adresa]="adresa" > </app-map>
  </div>
  <br>
  Opis apoteke: <b> {{pharmacy?.pharmacyDescription}}</b>
  <br><Br>
  <button class="btn btn-primary"  style="margin-right: 10px;" (click)="update=true">Uredi podatke o apoteci</button>
  <br><Br>
  <button class="btn btn-primary"  style="margin-right: 10px;" (click)="phaList()">Izmeni spisak farmaceuta</button>

  <button class="btn btn-primary"  style="margin-right: 10px;" (click)="dermaList()">Izmeni spisak dermatologa</button>
</div>

<div *ngIf="update">
  <br>
  Uputstvo: Ostavite prazna polja koja ne zelite da menjate!
  <br><br>
  <form
    *ngIf="!isSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && azuriraj(form)"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <label>Novi naziv apoteke</label>
      <input
        type="text"
        class="form-control"
        name="name"
        [(ngModel)]="form.name"
        [value]="pharmacy?.name"
        #name="ngModel"
      />
      <div class="alert-danger" *ngIf="f.submitted && name.invalid">
        <div *ngIf="name.errors.required">Opis je obavezan</div>
      </div>
    </div>

    <div class="form-group">
      <label>Novi opis apoteke</label>
      <input
        type="text"
        class="form-control"
        name="pharmacyDescription"
        [(ngModel)]="form.pharmacyDescription"
        required
        #pharmacyDescription="ngModel"
      />
      <div class="alert-danger" *ngIf="f.submitted && pharmacyDescription.invalid">
        <div *ngIf="pharmacyDescription.errors.required">Opis je obavezan</div>
      </div>
    </div>

    <div class="form-group">
      <label>Nova adresa apoteke</label>
      <input
        type="text"
        class="form-control"
        name="address"
        value="nova"
        [(ngModel)]="form.address"
        required
        #address="ngModel"
      />
      <div class="alert-danger" *ngIf="f.submitted && address.invalid">
        <div *ngIf="address.errors.required">Opis je obavezan</div>
      </div>
    </div>
  </form>
  <div *ngIf="showErr">
    <p style="color:#8b0000">Greska! Niste uneli nista.</p>
  </div>
  <button class="btn btn-primary" (click)="azuriraj(form)">Azuriraj podatke apoteke</button>
</div>




<div *ngIf="buttonPress">
  <div style="text-align: center;">   <h2> {{this?.naziv}} </h2> </div>
  <div class="wrap">
    <div class="search">
      <input type="text" name="name" [(ngModel)]="name" (ngModelChange)="search()"  class="searchTerm" placeholder="">
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="row" (click)="sort('id')">#</th>
      <th scope="row" (click)="sort('name')">Ime</th>
      <th scope="row" (click)="sort('surname')">Prezime</th>
      <th scope="row" (click)="sort('grade')">Ocena</th>
      <th scope="col">#</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let emp of employees | orderBy: key: reverse" >
      <th scope="row">{{ emp.id }}</th>
      <td>{{ emp.firstName }}</td>
      <td>{{ emp.lastName}}</td>
      <td>{{ emp.evaluationGrade}}</td>
      <td>
        <button class="btn btn-primary">Uredi</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

