<div class="m-3">
  <h3>Apoteke</h3>
  <div class="wrap">
    <div class="search">
      <input type="text" [(ngModel)]="term" class="searchTerm" placeholder="Unesite pretragu">
    </div>
  </div>
</div>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Ime</th>
    <th scope="col">Država</th>
    <th scope="col">Grad</th>
    <th scope="col">Adresa apoteke</th>
    <th scope="col">Opis apoteke</th>
    <th scope="col">Ocena apoteke</th>




  </tr>
  </thead>
  <tbody>

  <tr *ngFor="let pharmacy of pharmacies | filter:term" >
    <th scope="row">{{ pharmacy.id }}</th>
    <td>{{ pharmacy.name }}</td>
    <td>{{ pharmacy.country }}</td>
    <td>{{ pharmacy.city}}</td>
    <td>{{ pharmacy.address}}</td>
    <td>{{ pharmacy.pharmacyDescription}}</td>
    <td>{{ pharmacy.evaluationGrade}}</td>



  </tr>
  </tbody>
</table>
